<div class="text-center" id="login_page">
        <h2>Login</h2>
        <form>
            
            <div id="email">
                <label class="form_label formEl" for="login_email">Email</label>
                <br>
                <input class="form_input formEl" type="email" placeholder="Your Email Here"/> 
            </div>

            <div id="password">
                <label class="form_label formEl" for="login_password">Password</label>
                <br>
                <input class="form_input formEl" type="password" />
            </div>

             <div class="form_btn">
                <button class="sign_btn">Login</button>
            </div>

        </form>

        <div id="sign_up_message">
            Not a member? <a href="#" id="login_nav">Sign Up!</a>
        </div>
    </div>